.character-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.character-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.character-cards h3 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
  font-size: 17px;
}

.character-cards p {
  line-height: 21px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 13px;
}

.character-cards img {
  width: 360px;
  height: 220px;
  object-fit: contain;
  margin-bottom: 20px;
}

.character-buttons {
  margin-top: 19px;
}

.character-buttons a {
  margin: 0px 4px;
  background-color: #fff;
  color: #e50914;
  padding: 6px 6px 6px 6px;
  text-decoration: none;
  border-radius: 5px;
  outline: none;
  border: solid 1px #e50914;
  font-family: "Nunito", sans-serif;
}

.character-buttons a:hover {
  background-color: #e50914;
  color: #fff;
  cursor: pointer;
}
